
<nav class="navbar navbar-expand-lg custom-navbar">
  <div class="container">

    <!-- LOGO -->
  <a class="navbar-brand" href="{{ path('app_home') }}">
    <img
        src="{{ asset('images/logo-asimpa.png') }}"
        alt="ASIMPA"
        style="height:45px !important; width:auto !important; max-height:45px !important; object-fit:contain !important;"
    >
</a> 

    <!-- BURGER -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- CONTENU -->
    <div class="collapse navbar-collapse" id="navbarContent">

      <ul class="navbar-nav mx-auto">

        <!-- ACCUEIL -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Accueil
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_home') }}">Accueil</a></li>
            <li><a class="dropdown-item" href="{{ path('app_about') }}">Qui suis-je ?</a></li>
            <li><a class="dropdown-item" href="{{ path('app_why') }}">Pourquoi faire appel ?</a></li>
          </ul>
        </li>

        <!-- PRESTATIONS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            Prestations
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_business') }}">Entreprises</a></li>
            <li><a class="dropdown-item" href="{{ path('app_organisme') }}">Organismes</a></li>
            <li><a class="dropdown-item" href="{{ path('app_associations') }}">Associations</a></li>
            <li><a class="dropdown-item" href="{{ path('app_particulier') }}">Particuliers</a></li>
          </ul>
        </li>

        <!-- TARIFS -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_tarifs') }}">Tarifs</a>
        </li>

        <!-- FORUM -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_category') }}">Forum</a>
        </li>

        <!-- CONTACT -->
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact') }}">Contact</a>
        </li>

      </ul>

      <!-- DROITE -->
      <div class="d-flex align-items-center gap-2">
      
       {% if app.user %}
          <a href="{{ path('app_logout') }}" class="nav-link small">Se déconnecter</a>
      {% else %}
          <a href="{{ path('app_login') }}" class="nav-link small">Se connecter</a>
      {% endif %} 

        <a href="{{path('app_contact') }}" class="btn btn-primary btn-sm">Prendre rendez-vous</a>
      </div>

    </div>
  </div>
</nav> 
