{% extends "base.html.twig" %}

{% block title %}Forum{% endblock %}

{% block body %}

<div class="container mt-5">

    <!-- HEADER -->
    <h1 class="mb-2">Forum d'échange</h1>
    <p class="text-muted mb-4">
        Un espace pour poser vos questions et partager vos expériences
    </p>

    <!-- CATEGORIES -->
    {% for category in categories %}

    <div class="mb-5 p-3 bg-white rounded shadow-sm">

        <!-- TITRE -->
        <h4 class="fw-bold text-dark">{{ category.name }}</h4>

        <!-- DESCRIPTION -->
        <p class="text-muted small">{{ category.description }}</p>

        <!-- TABLE FORUM -->
        <div class="border rounded">

            {% for post in category.posts %}

                <div class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom forum-row">

                    <!-- TITRE -->
                    <a href="{{ path('app_post_show', {'id': post.id}) }}"
                       class="text-decoration-none text-dark fw-semibold text-primary">
                        {{ post.title }}
                    </a>

                    <!-- DATE -->
                    <small class="text-muted">
                        {{ post.createdAt|date('d/m/Y') }}
                    </small>

                </div>

            {% else %}

                <div class="px-3 py-2 text-muted">
                    Aucun sujet
                </div>

            {% endfor %}

        </div>

    </div>

{% endfor %} 

{% endblock %}
