{% extends 'base.html.twig' %}

{% block title %}Hello Admin/ReviewController!{% endblock %}

{% block body %}
<h1>Avis en attente de validation</h1>

{% for review in reviews %}
    <div style="border:1px solid #ddd; padding:15px; margin-bottom:10px;">
        <strong>{{ review.name }}</strong>
        <p>{{ review.message }}</p>
        <p>Note : {{ review.rating }}/5</p>

     <a href="{{ path('app_admin_review_validate', {'id': review.id}) }}">Valider</a>
     <a href="{{ path('app_admin_review_delete', {'id': review.id}) }}">">Supprimer</a>
    </div>
{% else %}
    <p>Aucun avis en attente</p>
{% endfor %} 

{% endblock %}
